<div class="ml-4 mt-4 divide-y-2">
  <div class="mb-4">
    <h1 class="text-2xl">Job Title</h1>
  </div>
  <div class="pt-4" id="filter-section-mobile-0">
    <div class="space-y-1">
      <div class="flex items-center">
        <input id="filter-mobile-color-0" name="color[]" value="white" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
        <label for="filter-mobile-color-0" class="ml-3 min-w-0 flex-1 text-gray-500">BACKEND DEVELOPER</label>
      </div>
      <div class="flex items-center">
        <input id="filter-mobile-color-1" name="color[]" value="beige" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
        <label for="filter-mobile-color-1" class="ml-3 min-w-0 flex-1 text-gray-500">FRONTEND DEVELOPER</label>
      </div>
      <div class="flex items-center">
        <input id="filter-mobile-color-2" name="color[]" value="blue" type="checkbox" checked class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
        <label for="filter-mobile-color-2" class="ml-3 min-w-0 flex-1 text-gray-500">FULLSTACK DEVELOPER</label>
      </div>
      <div class="flex items-center">
        <input id="filter-mobile-color-3" name="color[]" value="brown" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
        <label for="filter-mobile-color-3" class="ml-3 min-w-0 flex-1 text-gray-500">MOBILE APP DEVELOPER</label>
      </div>
      <div class="flex items-center">
        <input id="filter-mobile-color-4" name="color[]" value="green" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
        <label for="filter-mobile-color-4" class="ml-3 min-w-0 flex-1 text-gray-500">ANDROID DEVELOPER</label>
      </div>
      <div class="flex items-center">
        <input id="filter-mobile-color-5" name="color[]" value="purple" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
        <label for="filter-mobile-color-5" class="ml-3 min-w-0 flex-1 text-gray-500">IOS DEVELOPER</label>
      </div>
      <div class="flex items-center">
        <input id="filter-mobile-color-7" name="color[]" value="purple" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
        <label for="filter-mobile-color-7" class="ml-3 min-w-0 flex-1 text-gray-500">DATA SCIENCE</label>
      </div>
      <div class="flex items-center">
        <input id="filter-mobile-color-8" name="color[]" value="purple" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
        <label for="filter-mobile-color-8" class="ml-3 min-w-0 flex-1 text-gray-500">DATA ANALYST</label>
      </div>
      <div class="flex items-center">
        <input id="filter-mobile-color-9" name="color[]" value="purple" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
        <label for="filter-mobile-color-9" class="ml-3 min-w-0 flex-1 text-gray-500">DATA ENGINEER</label>
      </div>
      <div class="flex items-center">
        <input id="filter-mobile-color-10" name="color[]" value="purple" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
        <label for="filter-mobile-color-10" class="ml-3 min-w-0 flex-1 text-gray-500">DATA ARCHITECT</label>
      </div>
      <div class="flex items-center">
        <input id="filter-mobile-color-11" name="color[]" value="purple" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
        <label for="filter-mobile-color-11" class="ml-3 min-w-0 flex-1 text-gray-500">DATA SCIENTIST</label>
      </div>
    </div>
  </div>
</div>

