<div class="bg-gradient-to-r from-sky-500 to-sky-700 w-full rounded-xl hover:shadow-2xl">
  <div class="divide-y-2">
    <!-- Üst kısım -->
    <div class="flex justify-between items-center p-4">
      <!-- Sol kısım -->
      <div class="text-white">
        <h2 class="text-3xl">Company Name</h2>
        <p>City Name</p>
      </div>
      <!-- Sağ kısım -->
      <div class="text-white">
        <h2>Job Title</h2>
        <p>Work Type</p>
      </div>
    </div>
    <!-- Alt kısım -->
    <div class="p-4 text-white">
      <h1 class="text-3xl">Advertisement Title</h1>
      <p class="text-lg">Advertisement Content</p>
    </div>
  </div>
</div>
