<div class="mt-24 px-72">
  <div class="bg-white p-8 rounded-xl">
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
      <div class="space-y-12">
        <div>
          <h2 class="text-center text-2xl font-quicksand leading-7 text-gray-900">User Information</h2>

          <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
            <div class="sm:col-span-3">
              <label for="email" class="block font-quicksand leading-6 text-gray-900">Email</label>
              <div class="mt-2">
                <input type="text" name="email" id="email" autocomplete="email" class="block w-full rounded-md border-0 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" formControlName="email">
              </div>
            </div>
          </div>

          <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
            <div class="sm:col-span-3">
              <label for="old-password" class="block font-quicksand leading-6 text-gray-900">Old Password</label>
              <div class="mt-2">
                <input type="text" name="old-password" id="old-password" autocomplete="password" class="block w-full rounded-md border-0 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" formControlName="oldPassword">
              </div>
            </div>
          </div>

          <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
            <div class="sm:col-span-3">
              <label for="new-password" class="block font-quicksand leading-6 text-gray-900">New Password</label>
              <div class="mt-2">
                <input type="text" name="new-password" id="new-password" class="block w-full rounded-md border-0 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" formControlName="newPassword">
              </div>
            </div>
          </div>
          <div class="grid justify-items-center mt-8">
            <button type="submit" class="bg-gradient-to-r from-sky-400 to-sky-600 text-white p-2 rounded-xl  mt-8 hover:bg-gradient-to-r hover:from-sky-500 hover:to-sky-700">Change Password</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>


