<form [formGroup]="companyRegisterForm" (ngSubmit)="saveCompany()">
  <div class="space-y-12">

    <div class="border-b border-gray-900/10 py-24 px-96">
      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-3">
          <label for="companyName" class="block text-sm font-medium leading-6 text-gray-900">Company Name</label>
          <div class="mt-2">
            <input type="text" name="companyName" id="companyName" autocomplete="companyName" class="block w-full rounded-md border-0 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 sm:text-sm sm:leading-6" formControlName="companyName">
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="phoneNumber" class="block text-sm font-medium leading-6 text-gray-900">Phone Number</label>
          <div class="mt-2">
            <input type="text" name="phoneNumber" id="phoneNumber" autocomplete="phoneNumber" class="block w-full rounded-md border-0 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 sm:text-sm sm:leading-6" formControlName="phoneNumber">
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email address</label>
          <div class="mt-2">
            <input id="email" name="email" type="email" autocomplete="email" class="block w-full rounded-md border-0 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 sm:text-sm sm:leading-6" formControlName="email">
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
          <div class="mt-2">
            <input id="password" name="password" type="password" class="block w-full rounded-md border-0 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 sm:text-sm sm:leading-6" formControlName="password">
          </div>
        </div>

        <div class="ml-20 mt-8">
          <button class="bg-gradient-to-r from-sky-400 to-sky-600 text-white p-2 rounded-xl w-48 ml-96">Register</button>
        </div>
      </div>
    </div>
  </div>
</form>


